  <div class="container main-container text-center">
  <h2><%= @cocktail.name %></h2>
  <%= cl_image_tag @cocktail.photo.url(:standard), crop: :fill %>
  <h4>Ingredients</h4>
  <% @cocktail.doses.each do |dose| %>
  <h6><%= dose.description %> de <%=dose.ingredient.name%>
  <%= link_to "delete", dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure?" } %></h6>
  <% end %>

  <h4>Add a dose</h4>

  <p><%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.input :ingredient_id, collection: @ingredients %>
  <%= f.submit "Add a dose", class: "btn btn-primary" %>
  <% end %></p>

  <h4>Reviews</h4>
    <% @cocktail.reviews.each do |review| %>
     <%= "#{review.rating}/5 - #{review.content}" %>
     <br>
    <% end %>
    <%= simple_form_for [@cocktail, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit "Add a review", class: "btn btn-primary" %>
<% end %>
</div>


  <%= link_to "Go to see all the cocktails", cocktails_path, class: "btn btn-primary"%>
</div>







